.div-container{
    width:500px; 
    border: solid black 1px;
    margin: auto;
    margin-top: 50px;
}
.form-container{
    margin-left: 160px;
    margin-bottom: 40px;
}
.label-title{
    font-weight: bold;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.field-container{
    margin-bottom: 10px;
}